@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
*{
  margin:0;
}
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar a:not(:last-child) {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 60px;
}

.navbar a:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: .3s;
}

.navbar a:not(:last-child):hover::before {
  width: 100%;
}

.menu a:not(:last-child){
  text-decoration: none;
}

.menu a::before:not(:last-child){
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: .3s;
}

.menu a:hover::before:not(:last-child){
  width: 100%;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: 700;
  color: peru;
  margin: 0;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.logo:hover{
  color: rgb(206, 162, 118);
  text-shadow: 0 0 20px peru;
}

.thisis{
  font-family: 'Dancing Script', cursive;
}

.name{
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Dancing Script', cursive; */
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: -.03em;
  line-height: 100%;
  margin: 0;
  text-shadow: 0 0 20px #171720;
}

@media (min-width: 901px) {
  .name {
    font-size: 5vw;
  }
  .thisis {
    font-size: 3vw;
  }
}

/* For screens 900px or smaller */
@media (max-width: 900px) {
  .name {
    font-size: 40px; /* adjust as needed */
  }
  .thisis {
    font-size: 40px; /* adjust as needed */
  }
}

/* @media (max-width: 1300px) {
  .name {
    font-size: 4rem; 
  }
  .thisis{
    font-size: 3rem;
  }
} */

.bg-gradiant {
  background: radial-gradient(at 50% 100%, #272730 40%, #171720 80%, #070710 100%);
}

.skills-bg-gradiant {
  /* background: radial-gradient(at 50% 100%, #272730 40%, #171720 80%, #070710 100%); */
  background: radial-gradient(at 50% 90%, #272730 5%, #171720 50%);
  /* background: #171720 */
}

.skillscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.textanimation {
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: rgb(182, 182, 182, 0.2);
  background: linear-gradient(to right, peru, rgb(184, 143, 102)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  

  /* border-bottom: 1px solid #2F2B28; */
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}


/* .spananimation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4246ce;
  color: #0D0D0D;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 1s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .spananimation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: peru;
  color: #ffffff;
  
  clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.5s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textanimation:hover > .spananimation {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */

.spananimation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: peru;
  color: #ffffff;
  
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); /* Start from left */
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.5s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textanimation:hover > .spananimation {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Expand to right on hover */
}


a {
  text-decoration: none;
  color: inherit;
}

.bg-contact {
  background: radial-gradient(at 50% 90%, #272730 5%, #070710 50%);
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 100px;
  height: 100vh;
  width: 100%;
  background: radial-gradient(at 50% 90%, #272730 5%, #070710 50%);
}

.contact-left {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 30vw;
  height: 20vh;
  z-index: 100;
  margin-bottom: 20px;
}

.contact_font{
  font-family: 'Poppins', sans-serif;
}

.char {
  transform: translateX(115px);
  transition: 0.5s;
}


.flip {
  height:60px;
  overflow:hidden;
}

.flip > div > div {
  font-family: 'Poppins', sans-serif;
  color: peru;
  padding:0px 12px;
  height:50px;
  margin-bottom:40px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}
/* 
.flip div div {
  background:peru;
}
.flip div:first-child div {
  background:peru;
}
.flip div:last-child div {
  background:peru;
} */

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 3 / 3 / 4 / 4; }

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div2, .div3, .div4, .div5, .div6, .div7 {
  box-shadow: #070710 0px 0px 20px;
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .div1 { grid-area: 1 / 1 / 2 / 3; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 3 / 1 / 4 / 2; }
  .div5 { grid-area: 3 / 2 / 4 / 3; }
  .div6 { grid-area: 4 / 1 / 5 / 2; }
  .div7 { grid-area: 4 / 2 / 5 / 3; }

}

@media (max-width: 480px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }

  .div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    grid-area: auto / auto / span 1 / span 1;
  }

}

.skills-titles{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-top: 25px;
}

@media (max-width: 600px) {
  .skills-titles {
    font-size: 14px;
  }
}